<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Companies <small>({{totalCount}})</small></ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="exportData($event)">
        <span *ngIf="!exporting">Export</span>
        <ion-spinner *ngIf="exporting"></ion-spinner>
      </ion-button>
    </ion-buttons>

    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar debounce="500" placeholder="Type to search" (ionChange)="searchByName($event)"></ion-searchbar>

  <div class="content ion-padding">
    
    <ion-badge tappable color="primary" (click)="resetStatus()" [class.active]="filters.status == 4 && [1, 0].indexOf(filters.approved_to_hire) == -1">
      All clients
    </ion-badge>

    <ion-badge tappable color="primary" (click)="filterByStatus($event, 1)" [class.active]="filters.status == 1">Active</ion-badge>
    <ion-badge tappable color="primary" (click)="filterByStatus($event, 2)" [class.active]="filters.status == 2">Inactive</ion-badge>
    <ion-badge tappable color="primary" (click)="filterByStatus($event, 3)" [class.active]="filters.status == 3">Active + 40 days no payment</ion-badge>
    
    <ion-badge tappable color="primary" (click)="filterByApprovedToHire($event, 1)" [class.active]="filters.approved_to_hire == 1">Approved to hire</ion-badge>
    <ion-badge tappable color="primary" (click)="filterByApprovedToHire($event, 0)" [class.active]="filters.approved_to_hire == 0">Not approved to hire</ion-badge>

  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let company of companies" [disabled]="platform.width() > 768">
      <ion-item tappable (click)="rowSelected(company)">
        <div tabindex="0"></div>
        <ion-label>
          {{ company.company_name }}<br/>
          <ion-badge class="company_status_badge" slot="start" color="danger" *ngIf="!company.company_status">
            Inactive
          </ion-badge>
          <ion-badge class="company_status_badge" slot="start" color="success" *ngIf="company.company_status">
            Active
          </ion-badge>
        </ion-label>
        <ion-avatar slot="start">
          <img *ngIf="company.company_logo" src="{{ awsService.cloudinaryUrl + company.company_logo }}" (error)="loadLogo($event,company)">
          <img *ngIf="!company.company_logo" src="/assets/icon.png">
        </ion-avatar>

        <ion-badge color="medium" slot="end" *ngIf="company.total_suggestions > 0">
          {{ company.total_suggestions }} suggestions
        </ion-badge>

        <ion-badge slot="end" *ngIf="company.total_candidates > 0">
          {{ company.total_candidates }} candidates
        </ion-badge>

        <ion-badge slot="end" *ngIf="company.total_subcompanies > 0">
          {{ company.total_subcompanies }} sub-companies
        </ion-badge>

        <ion-badge slot="end" *ngIf="company.total_stores > 0">
          {{ company.total_stores }} stores
        </ion-badge>

        <ion-badge slot="end" color="success" *ngIf="company.company_approved_to_hire">
          <ion-icon name="checkmark-outline"></ion-icon> Approved to hire
        </ion-badge>
        
        <ion-badge slot="end" color="warning" *ngIf="!company.company_approved_to_hire">
          <ion-icon name="close-outline"></ion-icon> Not approved to hire
        </ion-badge>
        
        <ion-buttons slot="end" *ngIf="platform.width() > 768  && !authService.admin_limited_access">

          <ion-button color="danger" (click)="delete($event, company)">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item-options side="end" *ngIf="!authService.admin_limited_access">
        <ion-button color="danger" (click)="delete($event, company)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

  </ion-list>
  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-button expand="full" (click)="create()">
    Create
  </ion-button>
</ion-footer>
