<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>
      Payable candidates
    </ion-title>
    
    <ion-progress-bar type="indeterminate" *ngIf="processing"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="candidates">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12" size-md="4">
          <ion-item>
            <ion-label>
              <h3>Total Payable</h3>
              <ion-note>KWD {{ payableAmount | number:'1.3-3' }}</ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
        <ion-col size-sm="12" size-md="4">
          <ion-item>
            <ion-label>
              <h3>Bank info avail for</h3>
              <ion-note>KWD {{ payableAvailAmount | number:'1.3-3' }}</ion-note>
            </ion-label> 
          </ion-item>
        </ion-col>
        <ion-col size-sm="12" size-md="4">
          <ion-item>
            <ion-label>
              <h3>Missing Bank info for</h3>
              <ion-note>KWD {{ payableMissingAmount | number:'1.3-3' }}</ion-note>
            </ion-label> 
          </ion-item> 
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Loop Through Transfer IDs -->
    <section *ngFor="let transfer of candidates">
      <ion-item-divider color="light" 
        tappable
        (click)="transferDetails(transfer.transfer_id)">
        <ion-label>
          Transfer #{{transfer.transfer_id}}
        </ion-label>

        <ion-badge slot="end" class="blank_bg">KWD {{ transfer.remainingPaymentTransferTotal | number:'1.3-3' }}</ion-badge>
      </ion-item-divider>

      <!-- Loop Through Candidates within that Transfer -->
      <ion-item tappable *ngFor="let tc of transfer.unPaidTransferCandidates" (click)="candidateSelected(tc.candidate)"> 
        <ion-avatar slot="start">
          <img *ngIf="tc.candidate.candidate_personal_photo" src="{{ aws.cloudinaryUrl + 'candidate-photo/' + tc.candidate.candidate_personal_photo }}" (error)="loadLogo($event,tc.candidate)">
          <img *ngIf="!tc.candidate.candidate_personal_photo" src="/assets/icon.png">
        </ion-avatar>
        <ion-label>
          {{tc.candidate.candidate_name}} 
        </ion-label>

        <ion-badge slot="end">KWD {{ tc.total_amount | number:'1.3-3' }}</ion-badge>
      </ion-item>

    </section>

    <loading-modal [loading]="loading" type="review-list"></loading-modal>

  </ion-list>

</ion-content>

<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-button *ngIf="candidates && candidates.length > 0" expand="full" (click)="markAllPaid()">
    Mark candidates as paid
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="full" (click)="export()">
          Download as Excel
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" (click)="exportText()">
          Download Transfer File
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" (click)="export(true)">
          Download Transfer Excel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
