<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Webhooks</ion-title>
    
    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let webhook of webhooks" [disabled]="platform.width() > 768">
      <ion-item [class.alert]="!webhook.event || 
        !webhook.endpoint || 
        !webhook.method" tappable (click)="rowSelected(webhook)">
        <div tabindex="0"></div>
        
        <ion-label>
          <h5>{{ webhook.event }}</h5>
          <p>{{ webhook.endpoint }}</p>
        </ion-label>
 
        <ion-buttons slot="end" *ngIf="platform.width() > 768 && !authService.admin_limited_access">
          <ion-button (click)="test($event, webhook)">
            <ion-icon slot="start" name="play-outline"></ion-icon>
            Test
          </ion-button>
          
          <ion-button color="danger" (click)="delete($event, webhook)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item-options side="end" *ngIf="!authService.admin_limited_access">
        <ion-button (click)="test($event, webhook)">
          <ion-icon slot="start" name="play-outline"></ion-icon>
          Test
        </ion-button>
        
        <ion-button color="danger" (click)="delete($event, webhook)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-button expand="full" (click)="create()">
    Create
  </ion-button>
</ion-footer>
