<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Story View</ion-title>
  </ion-toolbar>
  <ion-toolbar>

    <ion-segment *ngIf="!platform.is('mobile')" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company">
        <ion-label>Company</ion-label>
      </ion-segment-button>
      <ion-segment-button value="suggestions">
        <ion-label>Suggestions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notes">
        <ion-label>Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="invitations">
        <ion-label>Invitations</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-select-option value="info">Info</ion-select-option>
      <ion-select-option value="company">Company</ion-select-option>
      <ion-select-option value="suggestions">
        Suggestions
      </ion-select-option>
      <ion-select-option value="notes">
        Notes
      </ion-select-option>
      <ion-select-option value="invitations">
        Invitations
      </ion-select-option>
      <ion-select-option value="staff">
        Staffs
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="story">

  <section *ngIf="segment == 'info'">
    <ion-list>
      <ion-item>Position Title:  {{story.request.request_position_title}}</ion-item>
      <ion-item>Position Type:
        <span *ngIf="story.request.request_position_type == 1">Full Timer</span>
        <span *ngIf="story.request.request_position_type == 2">Part Timer</span>
      </ion-item>
      <ion-item *ngIf="story.request.contact">Contact: {{story.request.contact.contact_name}}</ion-item>
      <ion-item>Followup Interval: {{story.request.num_hours_followup_interval}}</ion-item>
      <ion-item><span [innerHtml]="story.request.request_job_description"></span></ion-item>
      <ion-item *ngIf="story.request.request_additional_info">Additional Info: {{story.request.request_additional_info}}</ion-item>
      <ion-item *ngIf="story.request.request_assigned_at">Assigned at: {{story.request.request_assigned_at}}</ion-item>
      <ion-item *ngIf="story.request.request_cancelled_at">Cancelled at: {{story.request.request_cancelled_at}}</ion-item>
      <ion-item>Compensation: {{story.request.request_compensation}}</ion-item>
      <ion-item>Created At: {{story.request.request_created_datetime}}</ion-item>
      <ion-item>Started At: {{story.request.request_started_at}}</ion-item>
      <ion-item *ngIf="story.request.request_delivered_at">Delivered At: {{story.request.request_delivered_at}}</ion-item>
      <ion-item *ngIf="story.request.request_finished_at">Finished At:  {{story.request.request_finished_at}}</ion-item>
      <ion-item *ngIf="story.request.request_feedback">Feedback: {{story.request.request_feedback}}</ion-item>
      <ion-item>Location:  {{story.request.request_location}}</ion-item>
      <ion-item>Employees Required:  {{story.request.request_number_of_employees}}</ion-item>
      <ion-item *ngIf="story.request.request_re_worked_at">Re-worked at: {{story.request.request_re_worked_at}}</ion-item>
      <ion-item>Request Status: {{story.request.request_status}}</ion-item>
      <ion-item>Story Status: {{getStatus(story.story_status)}}</ion-item>
      <ion-item *ngIf="story.request.request_time_spent">Time Spent: {{story.request.request_time_spent}}</ion-item>
      <ion-item>Updated Datetime: {{story.request.request_updated_datetime}}</ion-item>
    </ion-list>
  </section>
  <section *ngIf="segment == 'company'">
    <ion-list>
      <ion-item>Name: {{story.request.company.company_name}}</ion-item>
      <ion-item>Common Name Ar: {{story.request.company.company_common_name_ar}}</ion-item>
      <ion-item>Common Name En: {{story.request.company.company_common_name_en}}</ion-item>
      <ion-item>Email: {{story.request.company.company_email}}</ion-item>
      <ion-item>Website: {{story.request.company.company_website}}</ion-item>
      <ion-item>Total Candidates: {{story.request.company.total_candidates}}</ion-item>
      <ion-item>Total Stores: {{story.request.company.total_stores}}</ion-item>
      <ion-item>Total Subcompanies: {{story.request.company.total_subcompanies}}</ion-item>
    </ion-list>
  </section>
  <section *ngIf="segment == 'suggestions'">
    <ion-list *ngIf="suggestions && suggestions.length > 0">
        <app-candidate *ngFor="let suggestion of suggestions" [candidate]="suggestion.candidate"></app-candidate>
    </ion-list>
    <ion-infinite-scroll *ngIf="SCurrentPage < SPageCount"
                         (ionInfinite)="doSuggestionsInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    <no-items *ngIf="suggestions && !suggestions.length && !loading" message="~ No Suggestion found so far ~"></no-items>
  </section>
  <section *ngIf="segment == 'invitations'">
    <ion-list *ngIf="invitations && invitations.length > 0">
        <app-candidate *ngFor="let invitation of invitations" [candidate]="invitation.candidate"></app-candidate>
    </ion-list>
    <ion-infinite-scroll *ngIf="ICurrentPage < IPageCount"
                         (ionInfinite)="doInvitationInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    <no-items *ngIf="invitations && !invitations.length && !loading" message="~ No Invitation found so far ~"></no-items>
  </section>
  <section *ngIf="segment == 'notes'" class="ion-padding">
    <ion-card *ngFor="let note of notes">
      <ion-badge>
        {{ note.note_type }}
      </ion-badge>

      <p class="note">
        <b *ngIf="note.updatedBy">{{ note.updatedBy.staff_name? note.updatedBy.staff_name: note.updatedBy.candidate_name }}:&nbsp;</b>
        <ng-container *ngIf="note.note_text.length > 100"><span [innerHTML]="note.note_text | slice:0:100"></span>...</ng-container>
        <ng-container *ngIf="note.note_text.length < 100"><span [innerHTML]="note.note_text"></span></ng-container>
      </p>
      <p class="txt-time">
        Note Update on {{ note.note_updated_datetime | timeAgo }} & Created on
        {{ toDate(note.note_created_datetime) | date: 'MMM d, y' }}
      </p>
    </ion-card>
    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    <ion-infinite-scroll *ngIf="NCurrentPage < NPageCount"
                         (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <no-items *ngIf="notes && !notes.length" message="~ No Note found so far ~"></no-items>
  </section>
</ion-content>
