<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="transfer-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Confirm Paid Candidates</ion-title>

    <ion-buttons slot="end">
      <ion-button clear color="primary" [disabled]="markingPaid" (click)="markPaid()">
        <span *ngIf="!markingPaid">Mark paid</span>
        <ion-spinner *ngIf="markingPaid"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <p class="alert alert-warning" *ngFor="let error of errors">
    {{ error }}
  </p>
  
  <ion-item lines="none" *ngIf="total">
    <div tabindex="0"></div>
    <ion-label>
      <h2>Total Paid for {{ candidatelistData.length }} candidates</h2>
      <p><!-- {{ transfer.currency_code }} -->{{ total | number:'1.3-3' }}</p>
    </ion-label>
  </ion-item>

  <ion-list> 
    <ion-item *ngFor="let candidate of candidatelistData"> 
      <div tabindex="0"></div>
      <ion-label>
        <h2  class="candidate_name">
          <a target="_blank" [routerLink]="'/candidate-view/' + candidate.candidate_id">
            {{ candidate.candidate_name? candidate.candidate_name: candidate.candidate_name_ar }}
          </a>
        </h2>
        <p><b>Bank reference no.: </b> {{ candidate.transfer_confirmation_id }} </p>
        <p><b>Company Transfer ID: </b> <a target="_blank" [routerLink]="'/transfer-view/' + candidate.transfer_id">{{ candidate.transfer_id }} </a></p>
        <p><b>Candidate Transfer ID: </b> <a target="_blank" [routerLink]="'/candidate-transfer-detail/' + candidate.tc_id">{{ candidate.tc_id }} </a></p>
        
        <ion-badge color="danger" *ngIf="candidate.debited_amount && candidate.total_amount != candidate.debited_amount">
          Amount not matching : {{ candidate.total_amount }} in transfer v/s {{ candidate.debited_amount }} in statement
        </ion-badge>

        <p *ngIf="candidate.tc_created_at"> 
          <ion-icon name="time" mode="md"></ion-icon> {{ toDate(candidate.tc_created_at) | date: 'MMM d, y' }}
      </ion-label>

      <ion-badge slot="end" *ngIf="candidate.candidate_total">{{ candidate.currency_code }} {{ candidate.candidate_total | number:'1.3-3' }}</ion-badge>
      <ion-badge slot="end" *ngIf="candidate.total_amount">{{ candidate.currency_code }} {{ candidate.total_amount | number:'1.3-3' }}</ion-badge>
    </ion-item>
  </ion-list>

  <loading-modal type="text-list" [loading]="loading"></loading-modal>

</ion-content>
