<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="transfer-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Confirm Paid Candidates</ion-title>

    <ion-buttons slot="end">
      <ion-button clear color="primary" [disabled]="markingPaid" (click)="markPaid()">
        <span *ngIf="!markingPaid">Mark paid</span>
        <ion-spinner *ngIf="markingPaid"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item lines="none" *ngIf="total">
    <ion-label>
      <h2>Total Paid for {{ candidatelistData.length }} candidates</h2>
      <p>KWD {{ total }}</p>
    </ion-label>
  </ion-item>

  <ion-list> 
    <ion-item *ngFor="let candidate of candidatelistData"> 
      <ion-label>
        <h2>{{ candidate.candidate_name}}</h2>
        <p>{{ candidate.transfer_confirmation_id }}</p>
      </ion-label>
      <ion-badge slot="end">KWD {{candidate.total_amount}}</ion-badge>
    </ion-item> 
  </ion-list>

  <loading-modal type="text-list" [loading]="loading"></loading-modal>

</ion-content>
 