<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="statistics">
    <ion-row>
      <!-- Payment Sent Notification Card -->
      <ion-col col-12 col-md-6 *ngIf="statistics.transfers.paymentSent.total > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.transfers.paymentSent.total }} {{ statistics.transfers.paymentSent.total == 1? "Transfer has" : "Transfers have"  }} been marked as payment sent
          </ion-card-header>
          <ion-card-content>
            <p>Check if bank received and process their transfer</p>
            <button ion-button (click)="showTransfers(statistics.transfers.paymentSent.code)">
              Show Transfers
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Transfer Locked Notification Card -->
      <ion-col col-12 col-md-6 *ngIf="statistics.transfers.locked.total > 0">
        <ion-card>
          <ion-card-header>
            {{ statistics.transfers.locked.total }} Locked {{ statistics.transfers.locked.total == 1? "Transfer" : "Transfers"  }} Available
          </ion-card-header>
          <ion-card-content>
            <p>Company will need to mark as payment sent soon</p>
            <button ion-button (click)="showTransfers(statistics.transfers.locked.code)">
              Show Locked Transfers
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Transfer payable Notification Card -->
      <ion-col col-12 col-md-6 *ngIf="statistics.payable.total > 0">
        <ion-card>
          <ion-card-header>
            You have KWD {{ statistics.payable.amount | number:'1.3-3' }} payable to {{ statistics.payable.total }} {{ statistics.payable.total > 1 ? 'candidates' : 'candidate' }}
          </ion-card-header>
          <ion-card-content>
            <p>You'll need to verify their bank info and process their payment</p>
            <button ion-button (click)="loadPayableCandidatesPage()">
              Show Payable Candidates
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Review Requirements Card -->
      <ion-col col-12 col-md-6 *ngIf="statistics.candidates.total_unapproved > 0">
        <ion-card>
          <ion-card-header>
            Candidates Require Review
          </ion-card-header>
          <ion-card-content>
            <p>{{statistics.candidates.total_unapproved}} remaining</p>
            <button ion-button (click)="loadCandidateReviewPage()">
              Review Candidates
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Candidate Count Card -->
      <ion-col col-12 col-md-6>
        <ion-card>
          <ion-card-header>
            {{statistics.candidates.total_assigned}} candidates currently working
          </ion-card-header>
          <ion-card-content>
            <p>from a total of {{statistics.candidates.total_candidate}} registered candidates</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
