<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngIf="statistics && statistics.transfers">
    <ion-card-header>
      Transfers
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let transfer of statistics.transfers"  (click)=showTransfers(transfer.status_code)>
        <span class="status_{{transfer.status_code}}"> {{ transfer.count }}</span> - {{ transfer.transfer_status }}
      </button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="statistics && statistics.candidates">
    <ion-card-header>
      Candidate
    </ion-card-header>
    <ion-list>
        <button ion-item>
          <ion-badge item-left>{{statistics.candidates.total_candidate}} </ion-badge>: Total Candidate
        </button>
        <button ion-item>
          <ion-badge item-left>{{statistics.candidates.total_approved}} </ion-badge>: Total Approved
        </button>
        <button ion-item>
          <ion-badge item-left>{{statistics.candidates.total_unapproved}} </ion-badge>: Total UnApproved
        </button>
        <button ion-item>
          <ion-badge item-left>{{statistics.candidates.total_assign}} </ion-badge>: Total Assigned
        </button>
        <button ion-item>
          <ion-badge item-left>{{statistics.candidates.total_unassign}} </ion-badge>: Total UnAssigned
        </button>
    </ion-list>
  </ion-card>

</ion-content>
