<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/company-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="brand">{{ brand.brand_name_en }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="brand">

    <ion-item-divider color="light">
      <ion-label>
        Candidates &nbsp; <ion-badge color="dark" *ngIf="brand.candidates">{{ brand.candidates.length }}</ion-badge>
      </ion-label>
    </ion-item-divider>

    <ng-container *ngIf="brand.candidates">
      <ion-item *ngFor="let candidate of brand.candidates" tappable (click)="candidateSelected(candidate)">
        <div tabindex="0"></div>

        <ion-avatar slot="start">
          <img *ngIf="candidate.candidate_personal_photo"
            src="{{ aws.cloudinaryUrl + 'candidate-photo/' + candidate.candidate_personal_photo }}"
            (error)="loadLogo($event,candidate)">
          <img *ngIf="!candidate.candidate_personal_photo" src="/assets/icon.png">
        </ion-avatar>
        <ion-label>
          <h3>{{ candidate.candidate_name? candidate.candidate_name: candidate.candidate_name_ar }}</h3>
          <p *ngIf="candidate.store_id > 0 && candidate.store">{{ candidate.store.store_name }} @
            {{ candidate.company.company_name }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="brand.stores">
      <ion-item-divider color="light">
        <ion-label>
          Stores &nbsp; <ion-badge color="dark" *ngIf="brand.stores">{{ brand.stores.length }}</ion-badge>
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let store of brand.stores" (click)="storeSelected(store)">
        <div tabindex="0"></div>
        <ion-label *ngIf="store && store.store_name">
          <h5>{{store.store_name}}</h5>
          <p>
            <ion-icon name="location-outline"></ion-icon> {{ store.store_location }}
          </p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <loading-modal [loading]="loading" type="candidate-list"></loading-modal>

</ion-content>