<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="store-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="store">{{ store.store_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="store">

    <ion-item-divider color="light">
      <ion-label>
        Employees working at {{ store.store_name }}
      </ion-label>
    </ion-item-divider>

    <!-- If No Candidates Working at this Store -->
    <ion-item *ngIf="candidates && candidates.length == 0">
      <ion-label>
        This store has no employees assigned.
      </ion-label>
    </ion-item>

    <!-- If Candidates Available -->
    <section *ngIf="candidates && candidates.length > 0">
      <ion-item tappable *ngFor="let candidate of candidates" (click)="candidateSelected(candidate)">
        <ion-avatar slot="start">
            <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
        <ion-label>
          {{ candidate.candidate_name }}
        </ion-label>
      </ion-item>
    </section>

  </ion-list>

  <ion-row class="ion-text-center">
    <div class="pagination-wrapper">
      <ion-button *ngFor="let page of pages" size="small" color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </ion-button>
    </div>
  </ion-row>

</ion-content>
