<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="store">{{ store.store_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="store">

    <ion-item-divider color="light">
      <ion-label>
        Employees working at {{ store.store_name }}
      </ion-label>
    </ion-item-divider>

    <!-- If No Candidates Working at this Store -->
    <ion-item *ngIf="candidates && candidates.length == 0">
      <ion-label>
        This store has no employees assigned.
      </ion-label>
    </ion-item>

    <!-- If Candidates Available -->

    <ion-item tappable *ngFor="let candidate of candidates" (click)="candidateSelected(candidate)">
      <ion-avatar slot="start">
        <img src="{{ aws.permanentBucketUrl + candidate.candidate_personal_photo_thumb}}">
      </ion-avatar>
      <ion-label>
        {{ candidate.candidate_name }}
      </ion-label>
    </ion-item>

    <loading-modal [loading]="loading" type="review-list"></loading-modal>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfiniteCandidates($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>