page-login {
    .loginCard{
        max-width:350px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentArea{
        background: #eceff4;
    }

    .brand {
        margin-top: 20px;
        margin-bottom:20px;
        text-align: center;

        img{
            width: 180px;
        }
    }

    .authArea button{
        margin-bottom:7px;
    }

    .or-wrapper{
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        position: relative;
        display: block;
        margin-bottom: 26px;

        .or-text{
            position: absolute;
            left: 46%;
            top: 0;
            background: #fff;
            padding: 10px;
        }
    }
}
