ion-card-header {
    white-space: normal;
}

.txt-title {
    padding: 0 15px;
}

ion-card {
  border-radius: 13px;
}

ion-card-header {
  font-weight: bold;
  color: #000;
}
ion-button {
  border-radius: 13px;
  --border-radius: 13em;
  min-width: 9em;
  margin-top: 16px;
}

ion-card {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 1px solid rgba(34, 41, 47, 0.125);
  border-radius: 0.5rem;

  //margin-bottom: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;

  text-align: center;

  .avatar {
    white-space: nowrap;
    background-color: #C3C3C3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: middle;
    //margin: 5px;
    margin: 5px auto !important;
    width: 46px;
    height: 46px;

    .avatar-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      ion-icon {
        font-size: 21px;
      }
    }
  }

  .bg-rgba-success {
    background: rgba(40, 199, 111, 0.15) !important;
  }

  .bg-rgba-primary {
    background: rgba(115, 103, 240, 0.15) !important;
  }

  .bg-rgba-danger {
    background: rgba(234, 84, 85, 0.15) !important;
  }

  .bg-rgba-warning {
    background: rgba(255, 159, 67, 0.15) !important;
  }

  .text-primary {
    color: #7367F0 !important;
  }

  .text-success {
    color: #28C76F !important;
  }

  .text-danger {
    color: #EA5455 !important;
  }

  .text-warning {
    color: #FF9F43 !important;
  }

  .p-50 {
    padding: 0.5rem !important;
  }

  .mb-1,
  .my-1 {
    margin-bottom: 1rem !important;
  }

  .mb-0,
  .my-0 {
    margin-bottom: 0 !important;
  }

  .m-0 {
    margin: 0 !important;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700 !important;
    line-height: 1.2;
    color: #2C2C2C;
  }

  p {
    color: rgb(98,98,98);
    font-size: 14px !important;
    margin: 0;
  }
}

.content {
  margin-top: 12px;
  ion-badge {
    border: solid 1px #4354a4;
    background-color: #ffffff;
    padding: 4px 17px;
    margin: 0 7px 7px 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #4354a4;
  }

  ion-badge.active {
    background-color: #4354a4;
    color: #fff;
  }
}
.padding-none {
  padding:0;
}
