<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Bank Advice Files</ion-title>

    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let model of transferBankAdvices" [disabled]="platform.width() > 768">
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <ion-badge>{{ model.tba_uuid }} </ion-badge>
          <ion-badge *ngIf="model.is_deleted" color="danger">Deleted </ion-badge>
          <h5>Serial no: {{ model.serial_no }}</h5>
          <a target="_blank" [href]="awsService.permanentBucketUrl + 'transfer-bank-advice/' + model.file_path">{{ model.file_path }}</a>
          <p>Created by <b>{{ model.createdBy?.admin_name }}</b> at {{ model.created_at }} </p>
        </ion-label>

        <ion-buttons slot="end" *ngIf="platform.width() > 768 && !authService.admin_limited_access" >

          <ion-button color="danger" (click)="delete($event, model)">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item-options side="end" *ngIf="!authService.admin_limited_access">
        <ion-button color="danger" (click)="delete($event, model)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content> 