<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Discounts <small>({{totalCount}})</small></ion-title>
    
    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let discount of discounts" [disabled]="platform.width() > 768">
      <ion-item [class.alert]="!discount.description_en || 
        !discount.description_ar || 
        discount.description_en == discount.description_ar">
        <!-- tappable (click)="rowSelected(discount)"-->
        <div tabindex="0"></div>
        
        <ion-thumbnail *ngIf="discount.image" slot="start">
          <ion-img  
            src="{{ aws.permanentBucketUrl + 'discount/' + discount.image }}"></ion-img>
        </ion-thumbnail>

        <ion-label>
          <h5>{{ discount.description_en }}</h5>
          <p>{{ discount.description_ar }}</p>
        </ion-label>
 
        <ion-buttons slot="end" *ngIf="platform.width() > 768 && !authService.admin_limited_access">

          <ion-button (click)="edit($event, discount)">
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
            Edit
          </ion-button>
          
          <ion-button color="danger" (click)="delete($event, discount)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item-options side="end" *ngIf="!authService.admin_limited_access">
        <ion-button (click)="edit($event, discount)">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button color="danger" (click)="delete($event, discount)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-button expand="full" (click)="create()">
    Add
  </ion-button>
</ion-footer>
