<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ operation }}</ion-title>

    <ion-buttons right>
      <button ion-button clear color="primary" 
        [disabled]="!form.valid"
        (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
        
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Hourly Rate</ion-label>
          <ion-input type="text" formControlName="hourly_rate"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Bonus Commission(%)</ion-label>
          <ion-input type="text" formControlName="bonus_commission"></ion-input>
        </ion-item>
        
        <ion-item *ngIf="!isSubCompany">
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="!isSubCompany">
          <ion-label floating>Password</ion-label>
          <ion-input type="password" *ngIf="!model.company_id" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>
  </form>
</ion-content>
