<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Candidate Payment Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Transfer Filter -->
  <ion-card>
    <ion-item>
      <ion-label color="primary" position="stacked">Candidate Transfer ID</ion-label>
      <ion-input type="text" placeholder="Candidate Transfer ID" (keyup)="onTransferIdChange($event)" [(ngModel)]="tc_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button [disabled]="loading || !tc_id" (click)="loadData()">
        <span *ngIf="!loading">Search</span>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>
    </ion-item>
  </ion-card> 

  <br />

  <!-- Transfer Filter -->
  <ion-card>
    <ion-item>
      <ion-label color="primary" position="stacked">Transfer Confirmation ID</ion-label>
      <ion-input type="text" placeholder="Transfer Confirmation ID" (keyup)="onConfirmationIdChange($event)" [(ngModel)]="transfer_confirmation_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button [disabled]="loading2 || !transfer_confirmation_id" (click)="loadByConfirmationId()">
        <span *ngIf="!loading2">Search</span>
        <ion-spinner *ngIf="loading2"></ion-spinner>
      </ion-button>
    </ion-item>
  </ion-card> 


</ion-content>