<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Payable Candidates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="candidates">
    
    <!-- Loop Through Transfer IDs -->
    <section *ngFor="let transfer of candidates">
      <ion-item-divider color="light" 
        style='cursor: pointer'
        (click)="transferDetails(transfer.transfer_id)">
        Transfer #{{transfer.transfer_id}}
      </ion-item-divider>

      <!-- Loop Through Candidates within that Transfer -->
      <button ion-item *ngFor="let candidate of transfer.candidates" (click)="candidateSelected(candidate)"> 
        <ion-avatar item-left>
            <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
        {{candidate.candidate.candidate_name}} 
        <ion-badge item-right>KWD {{candidate.total_amount}}</ion-badge>
      </button>

    </section>
  </ion-list>

	<ion-row text-center>
	  <div class="pagination-wrapper">
	    <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
	      {{ page }}
	    </button>
	  </div>
	</ion-row>
</ion-content>

<ion-footer>
  <button *ngIf="candidates && candidates.length > '0'" ion-button full (click)="markAllPaid(candidates)">
    Mark candidates as paid
  </button>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="export()">
          Download as Excel
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="exportText()">
          Download as Text
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>