<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Payable Candidates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
	    <ion-item-sliding *ngFor="let candidate of candidates">
	      <button ion-item>
	        {{ candidate.candidate.candidate_name }}
	      </button>  

	      <ion-item-options side="right">
	        <button ion-button (click)="markPaid(candidate.transfer_id, candidate.candidate_id)">
	          <ion-icon name="checkmark"></ion-icon>
	          Mark Paid
	        </button>
	      </ion-item-options>

	    </ion-item-sliding>
	</ion-list>

	<ion-row text-center>
	  <div class="pagination-wrapper">
	    <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
	      {{ page }}
	    </button>
	  </div>
	</ion-row>
</ion-content>

<ion-footer>
  <button ion-button full (click)="export()">
    Download as Excel
  </button>

	<!-- mark candidates as paid only if transfer status = in progress -->

  <button *ngIf="candidates && candidates.length > '0'" ion-button full (click)="markAllPaid(candidates)">
    Mark candidates as paid
  </button>

  <!--<button ion-button full (click)="exportText()">
    Download as Text
  </button>-->
</ion-footer>