<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="transfer-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Candidate Transfer Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <section *ngIf="transferCandidate && transferCandidate.candidate">

    <ion-card>
      <ion-card-header>

        <ion-card-title tappable (click)="loadCandidateDetail(transferCandidate.candidate)">
          
          {{ transferCandidate.candidate.candidate_name? transferCandidate.candidate.candidate_name: transferCandidate.candidate.candidate_name_ar }}

          <ion-badge color="success" *ngIf="transferCandidate.paid == 1">Paid</ion-badge>
          <ion-badge color="dark" *ngIf="transferCandidate.paid == 0">Unpaid</ion-badge>
        
        </ion-card-title>

        <ion-card-subtitle>{{ transferCandidate.store_name }} @ {{ transferCandidate.company_name }}</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label>
            <h5>Amount</h5>
            <p>
              KWD {{ candidatePayableAmount(transferCandidate) | number:'1.3-3' }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h5>Transfer Candidate ID</h5>
            <p>
              {{ transferCandidate.tc_id}}
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="transferCandidate.transfer_confirmation_id">
          <ion-label>
            <h5>Transfer Confirmation ID</h5>
            <p>
              {{ transferCandidate.transfer_confirmation_id }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="transferCandidate.bank">
          <ion-label>
            <h5>Bank</h5>
            <p>
              {{ transferCandidate.transfer_benef_iban }} @ {{ transferCandidate.bank.bank_name }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="transferCandidate.transfer_benef_name">
          <ion-label>
            <h5>Account name</h5>
            <p>
              {{ transferCandidate.transfer_benef_name }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="transferCandidate.transferFile">
          <ion-label>
            <h5>Transfer File</h5>
            <a [href]="aws.permanentBucketUrl + transferCandidate.transferFile.transfer_file_s3_path"
              (click)="doNothing($event)">
              {{ transferCandidate.transferFile.transfer_file_s3_path }}
            </a>
            <p>
              @ {{ toDate(transferCandidate.transferFile.transfer_file_created_at) | date: 'MMM d, y, h:mm:ss a' }}
            </p>
          </ion-label>
        </ion-item>

      </ion-card-content>
      <ion-card-header *ngIf="!authService.admin_limited_access">

        <ion-button [disabled]="markingUnPaid || candidatePayableAmount(transferCandidate) == 0"
          *ngIf="transferCandidate.paid == 1" (click)="markUnPaid($event)">
          <ion-spinner *ngIf="markingUnPaid"></ion-spinner>
          <span *ngIf="!markingUnPaid">Mark Unpaid</span>
        </ion-button>

        <ion-button [disabled]="markingPaid" *ngIf="transferCandidate.paid == 0" (click)="markPaid($event)">
          <span *ngIf="!markingPaid">Mark As Paid</span>
          <ion-spinner *ngIf="markingPaid"></ion-spinner>
        </ion-button>
 
      </ion-card-header>
    </ion-card>

  </section>

  <loading-modal [loading]="loading" type="transfer-detail"></loading-modal>

</ion-content>
