<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="staff-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="staff">
      {{ staff.staff_name }}

      <ion-badge *ngIf="staff.staff_role == 1">Management</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 2">Engineering</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 3">Sales</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 4">Business development/ Govt & PR</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 5">Marketing and Design</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 6">Recruitment</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 7">Finance</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 8">HR</ion-badge>
      <ion-badge *ngIf="staff.staff_role == 9">Customer success</ion-badge>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!authService.admin_limited_access">
      
      <ion-button (click)="update()">
        Update
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>

    <ion-segment *ngIf="!platform.is('mobile')" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="assign_candidate">
        <ion-label>Candidate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="request">
        <ion-label>Request</ion-label>
      </ion-segment-button>
      <ion-segment-button value="note">
        <ion-label>Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="salaries">
        <ion-label>Salaries</ion-label>
      </ion-segment-button>
      <ion-segment-button value="stories">
        <ion-label>Stories</ion-label>
      </ion-segment-button>
      <ion-segment-button value="suggestions">
        <ion-label>Suggestions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="invitations">
        <ion-label>Invitations</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-select-option value="info">Info</ion-select-option>
      <ion-select-option value="assign_candidate">
        Assigned Candidate
      </ion-select-option>
      <ion-select-option value="request">
        Request
      </ion-select-option>
      <ion-select-option value="note">
        Notes
      </ion-select-option>
      <ion-select-option value="stories">
        Stories
      </ion-select-option>
      <ion-select-option value="suggestions">
        Suggestions
      </ion-select-option>
      <ion-select-option value="invitations">
        Invitations
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="staff">
    <section *ngIf="segment == 'info'">
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Id</h5>
          <p>{{ staff.staff_id }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Staff Member</h5>
          <p>{{ staff.staff_name }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Email</h5>
          <p>{{ staff.staff_email }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Status</h5>
          <p>{{ (staff.staff_status == '10') ? 'Active' : 'In-Active' }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Recieve Notification ? </h5>
          <p>{{ staff.staff_notification ? 'Yes' : 'No' }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Gmail Username</h5>
          <p>{{ staff.staff_gmail_username }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Gmail Password</h5>
          <p>{{ staff.staff_gmail_password }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Created at</h5>
          <p>{{ staff.staff_created_at }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div tabindex="0"></div>
        <ion-label>
          <h5>Updated at</h5>
          <p>{{ staff.staff_updated_at }}</p>
        </ion-label>
      </ion-item>
    </section>
    <section *ngIf="segment == 'assign_candidate'">
      <app-candidate-work-history *ngFor="let history of candidateWorkHistory"  [history]="history"></app-candidate-work-history>
      <loading-modal type="review-list" [loading]="loadCandidateWorkHistory"></loading-modal>
      <no-items *ngIf="!loadCandidateWorkHistory && candidateWorkHistory.length == 0" message='~ No Candidate Record Found ~'></no-items>
      <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfiniteAssignedCandidateData($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>

    <section *ngIf="segment == 'suggestions'">
      <ng-container *ngFor="let note of notes">
        <ion-item tappable (click)="rowSelected(note.candidate)" *ngIf="note.candidate">
          <div tabindex="0"></div>
          <ion-avatar slot="start">
            <img *ngIf="note.candidate.candidate_personal_photo" src="{{ aws.cloudinaryUrl + 'candidate-photo/' + note.candidate.candidate_personal_photo }}" (error)="loadLogo($event,note.candidate)">
            <img *ngIf="!note.candidate.candidate_personal_photo" src="/assets/icon.png">
          </ion-avatar>
          <ion-label>
            <h2 class="candidate_name">{{ note.candidate.candidate_name ?note.candidate.candidate_name : note.candidate.candidate_name_ar }}</h2>
            <p *ngIf="note.candidate.store">
              {{ note.candidate.store.store_name }}
              <span *ngIf="note.candidate.company">@ {{ note.candidate.company.company_name }} </span>
            </p>
            <p>Suggested on : {{note.suggestion.suggestion_datetime}}</p>
            <p>Status:
              <span *ngIf="note.suggestion.suggestion_status == 1">Suggested</span>
              <span *ngIf="note.suggestion.suggestion_status == 2">Rejected</span>
              <span *ngIf="note.suggestion.suggestion_status == 3">Accepted</span>
            </p>
          </ion-label>

        </ion-item>


        <ion-item *ngIf="!note.candidate && note.fulltimer">
          <div tabindex="0"></div>
          <ion-avatar slot="start">
            <img src="/assets/icon.png">
          </ion-avatar>
          <ion-label>
            <h2 class="candidate_name">{{ note.fulltimer.fulltimer_name}}</h2>
            <small>Fulltimer</small>
            <p>Suggested on : {{note.suggestion.suggestion_datetime}}</p>
            <p>Status:
              <span *ngIf="note.suggestion.suggestion_status == 1">Suggested</span>
              <span *ngIf="note.suggestion.suggestion_status == 2">Rejected</span>
              <span *ngIf="note.suggestion.suggestion_status == 3">Accepted</span>
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="!note.candidate && !note.fulltimer">
          <div tabindex="0"></div>
          <ion-avatar slot="start">
            <img src="/assets/icon.png">
          </ion-avatar>
          <ion-label>
            <h2 class="candidate_name">Deleted Candidate</h2>
            <p>Suggested on : {{note.suggestion.suggestion_datetime}}</p>
            <p>Status:
              <span *ngIf="note.suggestion.suggestion_status == 1">Suggested</span>
              <span *ngIf="note.suggestion.suggestion_status == 2">Rejected</span>
              <span *ngIf="note.suggestion.suggestion_status == 3">Accepted</span>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>

      <loading-modal type="review-list" [loading]="NLoading"></loading-modal>
<!--      <no-items *ngIf="!notes && notes.length == 0" message='~ No Candidate Record Found ~'></no-items>-->
      <ion-infinite-scroll *ngIf="NCurrentPage < NPageCount" (ionInfinite)="doInfiniteSuggestions($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>

    <section *ngIf="segment == 'invitations'">
      <ng-container *ngFor="let invitation of invitations">
        <ion-item tappable (click)="rowSelected(invitation.candidate)" *ngIf="invitation.candidate">
          <div tabindex="0"></div>
          <ion-avatar slot="start">
            <img *ngIf="invitation.candidate.candidate_personal_photo" src="{{ aws.cloudinaryUrl + 'candidate-photo/' + invitation.candidate.candidate_personal_photo }}" (error)="loadLogo($event,invitation.candidate)">
            <img *ngIf="!invitation.candidate.candidate_personal_photo" src="/assets/icon.png">
          </ion-avatar>
          <ion-label>
            <h2 class="candidate_name">{{ invitation.candidate.candidate_name ?invitation.candidate.candidate_name : invitation.candidate.candidate_name_ar }}</h2>
            <p *ngIf="invitation.candidate.store">
              {{ invitation.candidate.store.store_name }}
              <span *ngIf="invitation.candidate.company">@ {{ invitation.candidate.company.company_name }} </span>
            </p>
            <p>Invited on : {{invitation.invitation_created_at}}</p>
            <p>Status:
              <span *ngIf="invitation.invitation_status == 1">Invited</span>
              <span *ngIf="invitation.invitation_status == 2">Rejected</span>
              <span *ngIf="invitation.invitation_status == 3">Accepted</span>
            </p>
          </ion-label>

        </ion-item>

        <ion-item *ngIf="!invitation.candidate">
          <div tabindex="0"></div>
          <ion-avatar slot="start">
            <img src="/assets/icon.png">
          </ion-avatar>
          <ion-label>
            <h2 class="candidate_name">Deleted Candidate</h2>
            <p>Invited on : {{invitation.invitation_created_at}}</p>
            <p>Status:
              <span *ngIf="invitation.invitation_status == 1">Invited</span>
              <span *ngIf="invitation.invitation_status == 2">Rejected</span>
              <span *ngIf="invitation.invitation_status == 3">Accepted</span>
            </p>
          </ion-label>
        </ion-item>
      </ng-container>

      <loading-modal type="review-list" [loading]="ILoading"></loading-modal>
      <no-items *ngIf="!invitations && invitations.length == 0" message='~ No Invitation Record Found ~'></no-items>
      <ion-infinite-scroll *ngIf="ICurrentPage < IPageCount" (ionInfinite)="doInfiniteInvitation($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>
    
    <section *ngIf="segment == 'request'" class="ion-padding">
      <app-request *ngFor="let request of requests" [request]="request"></app-request>
      <no-items *ngIf="!RLoading && requests.length == 0" message='~ No Request Record Found ~'></no-items>
      <loading-modal type="review-list" [loading]="RLoading"></loading-modal>
      <ion-infinite-scroll *ngIf="RCurrentPage < RPageCount" (ionInfinite)="doInfiniteRequest($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>

    <section *ngIf="segment == 'stories'" class="ion-padding">

      <ion-item *ngFor="let story of stories" [routerLink]="['/story-view/' + story.story_uuid ]" tappable>
        <ion-label>
          <p>Story ID : <b>{{ story.story_uuid }}</b></p>
          <p>Is Old : <b>{{ story.is_old  ? 'Yes': 'No' }}</b></p>
          <p>Time Spent:  <b>{{ story.story_time_spent}}</b></p>
          <p>Status: <b>{{ getStatus(story.story_status)}}</b></p>
          <p>Created at: <b>{{ story.story_created_at}}</b></p>
          <p>Updated at: <b>{{ story.story_last_updated_at}}</b></p>
          <p>Staff: <b>{{ story.staff.staff_name}}</b></p>
          <p>Position Title:  {{story.request.request_position_title}}</p>
          <p>Position Type:
            <span *ngIf="story.request.request_position_type == 1">Full Timer</span>
            <span *ngIf="story.request.request_position_type == 2">Part Timer</span>
          </p>
          <p>Company Name: {{story.request.company.company_name}}</p>
        </ion-label>
      </ion-item>
      <no-items *ngIf="!STLoading && stories.length == 0" message='~ No Story Record Found ~'></no-items>
      <loading-modal type="review-list" [loading]="STLoading"></loading-modal>
      <ion-infinite-scroll *ngIf="STCurrentPage < STPageCount" (ionInfinite)="doInfiniteStories($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>

    <section *ngIf="segment == 'salaries'" class="ion-padding">

      <ion-item *ngFor="let salary of salaries">
        <ion-label>
          <h5>{{ salary.salary }} {{ salary.salary_currency }}</h5>
          <p *ngIf="salary.comment">{{ salary.comment }}</p>
          <p>Paid at {{ toDate(salary.salary_date) | date: 'MMM d, y' }}</p>
          <small>{{ toDate(salary.created_at) | date: 'MMM d, y' }}</small>
        </ion-label>
      </ion-item>
      
      <no-items *ngIf="!SLoading && salaries.length == 0" message='~ No Salary Record Found ~'></no-items>

      <loading-modal type="review-list" [loading]="SLoading"></loading-modal>

      <ion-infinite-scroll *ngIf="SCurrentPage < SPageCount" (ionInfinite)="doInfiniteSalary($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>

    <section *ngIf="segment == 'note'" class="ion-padding">
      <ion-card *ngFor="let note of notes">
        <ion-badge>
          {{ note.note_type }}
        </ion-badge>

        <p class="note">
          <b *ngIf="note.updatedBy">{{ note.updatedBy.staff_name? note.updatedBy.staff_name: note.updatedBy.candidate_name }}:&nbsp;</b>
          <ng-container *ngIf="note.note_text.length > 100"><span [innerHTML]="note.note_text | slice:0:100"></span>...</ng-container>
          <ng-container *ngIf="note.note_text.length < 100"><span [innerHTML]="note.note_text"></span></ng-container>
        </p>
        <hr/>
        <div class="note" *ngIf="note.request">
          For <b *ngIf="note.request">{{note.request.request_position_title}}</b>
          <small>
            Looking for <b>{{ note.request.request_number_of_employees }}
            <span *ngIf="note.request.request_position_type == 1">Full-time</span>
            <span *ngIf="note.request.request_position_type == 2">Part-time</span>
            {{ note.request.request_position_title }}</b>
          </small>

        <p *ngIf="note.request.request_additional_info" [ngStyle]="{ 'white-space': 'pre-wrap' }" class="txt-additional-info" [innerHTML]="note.request.request_additional_info"></p>
        <p *ngIf="note.request.num_hours_followup_interval" class="txt-additional-info">Number of Hours to Followup Interval: <strong>{{note.request.num_hours_followup_interval}} hours</strong></p>

        <small class="time">Request made {{ note.request.request_created_datetime | timeAgo }} </small><br/>
        </div>

        <hr/>

        <p class="txt-time">
          Note Update on {{ note.note_updated_datetime | timeAgo }} & Created on
          {{ toDate(note.note_created_datetime) | date: 'MMM d, y' }}
        </p>
      </ion-card>
      <no-items *ngIf="!NLoading && notes.length == 0" message='~ No Notes Record Found ~'></no-items>
      <loading-modal type="review-list" [loading]="NLoading"></loading-modal>
      <ion-infinite-scroll *ngIf="NCurrentPage < NPageCount" (ionInfinite)="doInfiniteNotes($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>
  </ion-list>

  <loading-modal [loading]="loading" type="university-view"></loading-modal>

</ion-content>
<ion-footer *ngIf="staff && !authService.admin_limited_access">

  <ng-container *ngIf="segment == 'info'" >
    <ion-grid>
      <ion-row>
        <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
          <ion-button expand="full" (click)="resetPassword()">
            <span *ngIf="!sendingNewPassword">Send new password to staff</span>
            <ion-spinner *ngIf="sendingNewPassword"></ion-spinner>
          </ion-button>
        </ion-col>
        <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
          <ion-button expand="full" (click)="changeStatus()">
            <span *ngIf="!statusChanging">{{staff.staff_status == '10' ? 'De-Activate' : 'Activate'}}</span>
            <ion-spinner *ngIf="statusChanging"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ion-button *ngIf="segment == 'salaries'" expand="full" (click)="addSalary()">
    Add salary entry
  </ion-button>

</ion-footer>

<!-- 

  todo

  staff list show total paid to staff 

  dashboard show total salary paid by months in graphs 
-->
