
ion-item.alert {
    --background: var(--ion-color-danger);
    --color: var(--ion-color-danger-contrast);

    p {
        color: var(--ion-color-danger-contrast);
    }

    ion-button {
        --ion-color-base: white !important;
    }
}
.sub_section {
    --padding-start: 19px;
    padding-left: 20px;
}
