<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFilter($event)">
        Filter
      </ion-button>
    </ion-buttons>

    <ion-title>Daily Stand-up Answer</ion-title>

    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngIf="showFilter">
    <ion-card-header>
      <ion-card-title>Filter by</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
            <!-- Filter by Major -->
            <ion-item (click)="selectStaff($event)">
              <ion-label position="stacked" color="primary">Staff</ion-label>
              <ion-input type="text" [(ngModel)]="filters.staff_name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
            <!-- Filter by Tag -->
            <ion-item>
              <ion-label position="stacked" color="primary">Question</ion-label>
              <ion-select [(ngModel)]="filters.question_uuid">
                <ion-select-option [value]="question.question_uuid" *ngFor="let question of questions">{{question.question}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
            <!-- Filter by Tag -->
            <ion-item>
              <ion-label position="stacked" color="primary">Date</ion-label>
              <ion-input type="date" [(ngModel)]="filters.date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-header>
      <ion-button (click)="loadData(1);">Submit</ion-button>
      <ion-button (click)="resetFilter();" color="secondary">Reset</ion-button>
      <ion-button (click)="toggleFilter($event)" color="warning">Hide Filter</ion-button>
    </ion-card-header>

  </ion-card>
  <ion-list>
      <ion-item tappable *ngFor="let answer of answers" (click)="viewAnswer(answer)">
        <div tabindex="0"></div>
        <ion-label>
          <h3 *ngIf="answer.staff">{{ answer.staff.staff_name }}</h3>
          <p>
            <span *ngIf="answer.staff.staff_role == 1">Management</span>
            <span *ngIf="answer.staff.staff_role == 2">Engineering</span>
            <span *ngIf="answer.staff.staff_role == 3">Sales</span>
            <span *ngIf="answer.staff.staff_role == 4">Business development/ Govt & PR</span>
            <span *ngIf="answer.staff.staff_role == 5">Marketing and Design</span>
            <span *ngIf="answer.staff.staff_role == 6">Recruitment</span>
            <span *ngIf="answer.staff.staff_role == 7">Finance</span>
            <span *ngIf="answer.staff.staff_role == 8">HR</span>
            <span *ngIf="answer.staff.staff_role == 9">Customer success</span>
          </p>
          <p>Date: {{ answer.created_at | date }}</p> <ion-badge *ngIf="todayCheck(answer)" color="primary">Today</ion-badge>
        </ion-label>
      </ion-item>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </ion-list>
  <no-items *ngIf="!loading && !answers.length" message="No Record Found"></no-items>
  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
