<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="company-list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="company">{{ company.company_name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="update()">
        Update
      </ion-button>
    </ion-buttons>

    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="company">

    <!-- If Main Company -->
    <section *ngIf="company.company_email">
      <ion-item-divider color="light">
        <ion-label>
          Contact
        </ion-label>
      </ion-item-divider>

      <ion-item href='mailto:{{ company.company_email }}'>
        <ion-label>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          {{ company.company_email }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="danger" [disabled]="sendingNewPassword" (click)="resetPassword()">
          <span *ngIf="!sendingNewPassword">Send new password to company</span>
          <ion-spinner *ngIf="sendingNewPassword"></ion-spinner>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="danger" (click)="uploadDocument()">
          <span>Upload Document</span>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Company Status (<small>{{companyStatus ? 'Active' : 'In Active'}}</small>)</ion-label>
        <ion-toggle [checked]="companyStatus" (ionChange) = changeStatus($event)></ion-toggle>
      </ion-item>
<!--      <ion-item *ngIf="changingStatus">-->
<!--        <ion-label>Company Status </ion-label>-->
<!--        <ion-skeleton-text></ion-skeleton-text>-->
<!--      </ion-item>-->

      <ion-item-divider color="light">
        <ion-label>
          Payment
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          Bonus Commission(%) - {{ company.company_bonus_commission }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Hourly Rate - {{ company.company_hourly_rate | number:'1.3-3' }} KWD
        </ion-label>
      </ion-item>

      <div *ngIf="company.files && company.files.length > 0">
        <ion-item-divider color="light">
          <ion-label>
            Uploaded Document
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let file of company.files">
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon> &nbsp;
            <a target="_blank" (click)="$event.stopPropagation()"
               href="{{ aws.permanentBucketUrl }}{{ file.file_s3_path }}">
              {{file.file_title}}
            </a>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="danger"  (click)="deleteDoc($event, file)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>
    </section>

    <!-- If Subcompany -->

    <section *ngIf="!company.company_email">
      <ion-item-divider color="light">
        <ion-label>
          Payment
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          Bonus Commission(%) - {{ company.company_bonus_commission }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Hourly Rate - {{ company.company_hourly_rate | number:'1.3-3' }} KWD
        </ion-label>
      </ion-item>
    </section>


    <!-- Subcompany List -->

    <section *ngIf="subCompanies && subCompanies.length > 0">

      <ion-item-divider color="light">
        <ion-label>
          Companies under this company
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let company of subCompanies" [disabled]="platform.width() > 768">
        <ion-item tappable (click)="rowSelected(company)">

          <ion-label>
            {{ company.company_name }}
          </ion-label>

          <ion-badge slot="end" *ngIf="company.total_candidates > 0">
            {{ company.total_candidates }} candidates
          </ion-badge>

          <ion-badge slot="end" *ngIf="company.total_subcompanies > 0">
            {{ company.total_subcompanies }} sub-companies
          </ion-badge>

          <ion-badge slot="end" *ngIf="company.total_stores > 0">
            {{ company.total_stores }} stores
          </ion-badge>

          <ion-buttons slot="end" *ngIf="platform.width() > 768">
            <ion-button color="danger"  (click)="delete($event, company)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-buttons>

        </ion-item>

        <ion-item-options side="end">
          <ion-button color="danger" (click)="delete($event, company)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </section>

    <!-- Store List -->

    <section *ngIf="stores && stores.length > 0">

      <ion-item-divider color="light">
        <ion-label>
          Stores
        </ion-label>
      </ion-item-divider>

      <ion-list>
        <ion-item tappable *ngFor="let store of stores" (click)="storeSelected(store)">
          <ion-label>
            {{ store.store_name }}
          </ion-label>

          <ion-badge slot="end" *ngIf="store.store_total_candidates > 0">
            {{ store.store_total_candidates }} candidates
          </ion-badge>
        </ion-item> 
      </ion-list>
    </section>
  </ion-list>

  <loading-modal [loading]="loading" type="university-view"></loading-modal>
</ion-content>

<ion-footer *ngIf="company">
  <ion-button expand="full" *ngIf="!stores || stores.length == 0" (click)="create(company.company_id, true)">
    Create Sub Company
  </ion-button>
</ion-footer>
