<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unpaid Candidates</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary" (click)="markPaid()">
        Mark paid
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="candidatelistData">
    <section *ngFor="let transfer of candidatelistData">
      <ion-item-divider color="light">
        <b>Transfer #{{transfer.transfer_id}}</b>
        <ion-badge item-right class="blank_bg">KWD {{transfer.total}}</ion-badge>
      </ion-item-divider>
      <article *ngFor="let tc of transfer.candidates">
        <ion-item *ngIf="tc.paid == '0'"> 
          <ion-checkbox [(ngModel)]="candidateList[tc.tc_id]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          <ion-label>{{tc.candidate.candidate_name}}</ion-label>
          <ion-badge item-right>KWD {{tc.total_amount}}</ion-badge>
        </ion-item>
      </article>
    </section>
  </ion-list>
</ion-content>
 