<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unpaid Candidates</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary" (click)="markPaid()">
        Mark paid
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-list *ngIf="candidatelistData" >
      <div *ngFor="let transfer of candidatelistData">
        <ion-item-divider color="light"><b>Transfer ID : {{transfer.transfer_id}}</b></ion-item-divider>
        <ion-item-sliding *ngFor="let candidate of transfer.candidates">
          <ion-item> 
            <ion-checkbox [(ngModel)]="candidateList[candidate.tc_id]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
              <ion-label>{{candidate.candidate.candidate_name}}</ion-label>
              <ion-badge item-right>KWD {{candidate.total_amount}}</ion-badge>
          </ion-item>
        </ion-item-sliding>  
      </div>
    </ion-list>
  </div>
</ion-content>
 