<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Request View</ion-title>
  </ion-toolbar>
  <ion-toolbar>

    <ion-segment *ngIf="!platform.is('mobile')" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company">
        <ion-label>Company</ion-label>
      </ion-segment-button>
      <ion-segment-button value="suggestions">
        <ion-label>Suggestions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notes">
        <ion-label>Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="staff">
        <ion-label>Staff</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-select *ngIf="platform.is('mobile')" interface="popover" (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-select-option value="info">Info</ion-select-option>
      <ion-select-option value="company">Company</ion-select-option>
      <ion-select-option value="suggestions">
        Suggestions
      </ion-select-option>
      <ion-select-option value="notes">
        Notes
      </ion-select-option>
      <ion-select-option value="staff">
        Staffs
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="request">

  <section *ngIf="segment == 'info'">
    <ion-list>
      <ion-item>request_position_title:  {{request.request_position_title}}</ion-item>
      <ion-item>request_position_type:  {{request.request_position_type}}</ion-item>
      <ion-item>company_id: {{request.company_id}}</ion-item>
      <ion-item>contact_uuid: {{request.contact_uuid}}</ion-item>
      <ion-item>is_old: {{request.is_old ? 'Yes' : 'No'}}</ion-item>
      <ion-item>num_hours_followup_interval: {{request.num_hours_followup_interval}}</ion-item>
      <ion-item>request_additional_info: {{request.request_additional_info}}</ion-item>
      <ion-item>request_assigned_at: {{request.request_assigned_at}}</ion-item>
      <ion-item>request_cancelled_at: {{request.request_cancelled_at}}</ion-item>
      <ion-item>request_compensation: {{request.request_compensation}}</ion-item>
      <ion-item *ngIf="request.requestCreatedBy">request_created_by: {{request.requestCreatedBy.staff_name}}</ion-item>
      <ion-item>request_created_datetime: {{request.request_created_datetime}}</ion-item>
      <ion-item>request_delivered_at: {{request.request_delivered_at}}</ion-item>
      <ion-item>request_feedback: {{request.request_feedback}}</ion-item>
      <ion-item>request_finished_at:  {{request.request_finished_at}}</ion-item>
      <ion-item>request_job_description:  {{request.request_job_description}}</ion-item>
      <ion-item>request_location:  {{request.request_location}}</ion-item>
      <ion-item>request_number_of_employees:  {{request.request_number_of_employees}}</ion-item>
      <ion-item>request_priority: {{request.request_priority}}</ion-item>
      <ion-item>request_re_worked_at: {{request.request_re_worked_at}}</ion-item>
      <ion-item>request_started_at: {{request.request_started_at}}</ion-item>
      <ion-item>request_status: {{request.request_status}}</ion-item>
      <ion-item>request_time_spent: {{request.request_time_spent}}</ion-item>
      <ion-item>request_updated_by: {{request.request_updated_by}}</ion-item>
      <ion-item>request_updated_datetime: {{request.request_updated_datetime}}</ion-item>
      <ion-item>request_uuid: {{request.request_uuid}}</ion-item>
      <ion-item>staff_id:  {{request.staff_id}}</ion-item>
    </ion-list>
  </section>
  <section *ngIf="segment == 'company'">
    <ion-list>
      <ion-item>company_approved_to_hire: {{request.company.company_approved_to_hire}}</ion-item>
      <ion-item>company_bonus_commission:  {{request.company.company_bonus_commission}}</ion-item>
      <ion-item>company_common_name_ar: {{request.company.company_common_name_ar}}</ion-item>
      <ion-item>company_common_name_en: {{request.company.company_common_name_en}}</ion-item>
      <ion-item>company_created_at: {{request.company.company_created_at}}</ion-item>
      <ion-item>company_description_ar: {{request.company.company_description_ar}}</ion-item>
      <ion-item>company_description_en: {{request.company.company_description_en}}</ion-item>
      <ion-item>company_email: {{request.company.company_email}}</ion-item>
      <ion-item>company_followup: {{request.company.company_followup}}</ion-item>
      <ion-item>company_followup_interval_weeks: {{request.company.company_followup_interval_weeks}}</ion-item>
      <ion-item>company_hourly_rate: {{request.company.company_hourly_rate}}</ion-item>
      <ion-item>company_id: {{request.company.company_id}}</ion-item>
      <ion-item>company_last_followup_datetime: {{request.company.company_last_followup_datetime}}</ion-item>
      <ion-item>company_logo: {{request.company.company_logo}}</ion-item>
      <ion-item>company_name: {{request.company.company_name}}</ion-item>
      <ion-item>company_status: {{request.company.company_status}}</ion-item>
      <ion-item>company_status_override: {{request.company.company_status_override}}</ion-item>
      <ion-item>company_updated_at: {{request.company.company_updated_at}}</ion-item>
      <ion-item>company_website: {{request.company.company_website}}</ion-item>
      <ion-item>is_request_updates_in_30_days: {{request.company.is_request_updates_in_30_days}}</ion-item>
      <ion-item>no_of_active_requests: {{request.company.no_of_active_requests}}</ion-item>
      <ion-item>parent_company_id: {{request.company.parent_company_id}}</ion-item>
      <ion-item>total_candidate: {{request.company.total_candidate}}</ion-item>
      <ion-item>total_candidates: {{request.company.total_candidates}}</ion-item>
      <ion-item>total_stores: {{request.company.total_stores}}</ion-item>
      <ion-item>total_subcompanies: {{request.company.total_subcompanies}}</ion-item>
    </ion-list>
  </section>
  <section *ngIf="segment == 'suggestions'">
    <ion-list *ngIf="request && request.suggestions">
        <app-candidate *ngFor="let suggestion of request.suggestions" [candidate]="suggestion.candidate"></app-candidate>
    </ion-list>
    <no-items *ngIf="!request.suggestions.length" message="~ No Suggestion found so far ~"></no-items>
  </section>
  <section *ngIf="segment == 'notes'" class="ion-padding">
    <ion-card *ngFor="let note of request.requestActivities">
      <ion-badge>
        {{ note.note_type }}
      </ion-badge>

      <p class="note">
        <b *ngIf="note.updatedBy">{{ note.updatedBy.staff_name? note.updatedBy.staff_name: note.updatedBy.candidate_name }}:&nbsp;</b>
        <ng-container *ngIf="note.note_text.length > 100"><span [innerHTML]="note.note_text | slice:0:100"></span>...</ng-container>
        <ng-container *ngIf="note.note_text.length < 100"><span [innerHTML]="note.note_text"></span></ng-container>
      </p>
      <p class="txt-time">
        Note Update on {{ note.note_updated_datetime | timeAgo }} & Created on
        {{ toDate(note.note_created_datetime) | date: 'MMM d, y' }}
      </p>
    </ion-card>
    <no-items *ngIf="!request.requestActivities.length" message="~ No Note found so far ~"></no-items>
  </section>
  <section *ngIf="segment == 'staff'">
    <ion-list>
      <ion-item *ngFor="let staff of request.staffs">
        <ion-label>
          {{ staff.staff_name }}
        </ion-label>
      </ion-item>
    </ion-list>
    <no-items *ngIf="!request.staffs.length" message="~ No staff found so far ~"></no-items>
  </section>
</ion-content>
