<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Mail logs</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div #reportcanva></div>

  <ion-searchbar (ionInput)="searchFilter($event)" debounce=500>
  </ion-searchbar>
  <ion-list>
    <ion-item tappable *ngFor="let mailLog of mailLogs" (click)="rowSelected(mailLog)">
      <div tabindex="0"></div>
      <ion-label>
        <h5>{{ mailLog.subject }}</h5>
        <p>{{ mailLog.from }} -> {{ mailLog.to }}</p>
      </ion-label>
    </ion-item>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>