<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Transfer List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Search
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label color="primary" stacked>Company name</ion-label>
        <ion-input type="text" placeholder="Enter Company Name" [(ngModel)]="companyName" (change)="loadData(1)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Transfer Status</ion-label>
        <ion-select [(ngModel)]="transferStatus" (ionChange)="loadData(1)">
          <ion-option value="0">All</ion-option>
          <ion-option value="10">Transfer Initiated</ion-option>
          <ion-option value="1">Payment Sent</ion-option>
          <!--<ion-option value="2">Payment Received</ion-option>-->
          <ion-option value="3">Received & Distributing Salary</ion-option>
          <ion-option value="4">Transfer Completed</ion-option>
          <ion-option value="5">Transfer Locked</ion-option>
        </ion-select>
      </ion-item> 
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let transfer of transfers |  orderBy:'transfer_created_at'">
        {{transfer.transfer_status}}
        <ion-item>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='10'"> Transfer Initiated </span>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='1'"> Payment Sent </span>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='2'"> Payment Received </span>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='3'"> Received & Distributing Salary </span>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='4'"> Transfer Completed </span>
          <span class="status_{{transfer.transfer_status}}" *ngIf="transfer.transfer_status=='5'"> Transfer Locked </span>

          <button ion-item [ngClass]="{'my-class': transfer.transfer_status=='1' }" (click)="transferDetails(transfer.transfer_id)">  
          Transfer Id : {{ transfer.transfer_id}}<br>    
          Company: {{ transfer.company_name }} <br> 
          Company Total: KWD {{ transfer.company_total}} <br>   
          Total: KWD {{ transfer.total}} <br>   
          Profit: KWD {{ profit(transfer) }}<br>    
          Transfer Cost: KWD {{ transfer.total_transfer_cost }}<br>    
          Transfer Created: {{ transfer.transfer_created_at}}<br>
          Transfer Updated: {{ transfer.transfer_updated_at}}          
          </button>
        </ion-item>
    </ion-item-sliding>    
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>