<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ store.store_name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item-divider color="light">Employees working at {{ store.store_name }}</ion-item-divider>

    <!-- If No Candidates Working at this Store -->
    <ion-item *ngIf="candidates && candidates.length == 0">
      This store has no employees assigned.
    </ion-item>

    <!-- If Candidates Available -->
    <section *ngIf="candidates && candidates.length > 0">
      <button ion-item *ngFor="let candidate of candidates" (click)="candidateSelected(candidate)">
        <ion-avatar item-left>
            <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
        {{ candidate.candidate_name }}
      </button>
    </section>

  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>
