<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ store.store_name }}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="update()">
        Update
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>ID</h5>
  <p>{{ store.store_id }}</p>

  <h5>Store Name</h5>
  <p>{{ store.store_name }}</p>

  <h5 *ngIf="candidates && candidates.length > 0">Candidates</h5>
  <ion-list>
    <ion-item-sliding *ngFor="let candidate of candidates">
      <button ion-item (click)="candidateSelected(candidate)">
        {{ candidate.candidate_name }}
      </button>  

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteCandidate(candidate)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>
