h2 {
    font-weight: bold !important;
    font-size: 1.6em !important;
    margin: 0 !important;
    padding: 0 !important;
}

.status span {
    display: block;
    text-align: center;
}

.status_4 {
    background: green;
    color: #fff;
    padding: 7px;
}

.status_10 {
    background: grey;
    color: #fff;
    padding: 7px;
}

.status_5 {
    background: burlywood;
    color: #fff;
    padding: 7px;
}

.status_1,
.status_2 {
    background: yellowgreen;
    color: #fff;
    padding: 7px;
}

.status_3 {
    background: #387ef5;
    color: #fff;
    padding: 7px;
}
