<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Countries <small>({{totalCount}})</small></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="exportData($event)">
        <span *ngIf="!exporting">Export</span>
        <ion-spinner *ngIf="exporting"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchFilter($event)" debounce=500>
  </ion-searchbar>
  <ion-list>
    <ion-item tappable *ngFor="let country of countries" (click)="rowSelected(country)">
      <div tabindex="0"></div>
      <ion-label>
        {{ country.country_name_en }}
      </ion-label>

      <ion-badge slot="end" *ngIf="country.total_candidates > 0">
        {{ country.total_candidates }} candidates
      </ion-badge>
    </ion-item>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-button expand="full" (click)="create()">
    Create
  </ion-button>
</ion-footer>
