<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ company.company_name }}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="update()">
        Update
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Contact -->
    <section *ngIf="company.company_email">
      <ion-item-divider color="light">Contact</ion-item-divider>
      <a ion-item href='mailto:{{ company.company_email }}'>
        <ion-icon name="mail" item-left></ion-icon>
        {{ company.company_email }}
      </a>
    </section>

    <!-- Subcompany List -->
    <section *ngIf="subcompanies && subcompanies.length > 0">
      <ion-item-divider color="light">Companies under this company</ion-item-divider>
      <ion-item-sliding *ngFor="let company of subcompanies">
        <button ion-item (click)="rowSelected(company)">
          {{ company.company_name }}
          <ion-badge item-right *ngIf="company.total_candidates > 0">
          {{ company.total_candidates }} candidates
          </ion-badge>

          <ion-badge item-right *ngIf="company.subcompanies.length > 0">
            {{ company.subcompanies.length }} sub-companies
          </ion-badge>
          
          <ion-badge item-right *ngIf="company.stores.length > 0">
            {{ company.stores.length }} stores
          </ion-badge>
        </button>  

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="delete(company)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </section>

    <!-- Store List -->
    <section *ngIf="stores && stores.length > 0">
      <ion-item-divider color="light">Stores</ion-item-divider>
      <ion-list>
        <ion-item-sliding *ngFor="let store of stores">
          <button ion-item (click)="storeSelected(store)">
            {{ store.store_name }}
            <ion-badge item-right *ngIf="store.candidates.length > 0">
              {{ store.candidates.length }} candidates
            </ion-badge>
          </button>
        </ion-item-sliding>
      </ion-list>
    </section>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full *ngIf="!stores || stores.length == 0" 
    (click)="create(company.company_id, true)">
    Create Sub Company
  </button>
</ion-footer>