<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Permission Section <small>({{totalCount}})</small></ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="deleting"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let section of permissionSection" [disabled]="platform.width() > 768">
      <ion-item tappable>
        <div tabindex="0"></div>

        <ion-label>
          <h5>{{ section.section_name }}</h5>
        </ion-label>

        <!-- Company dropdown for company-specific permission at section level -->
        <ion-item *ngIf="section.is_company_specific_permission === 1 || section.is_company_specific_permission === true" class="company-selectable-wrapper">
          <ionic-selectable
            [(ngModel)]="companyPermissions[section.permission_uuid]"
            [items]="companies"
            itemValueField="company_id"
            [shouldStoreItemValue]="true"
            itemTextField="company_name"
            [isMultiple]="true"
            [canSearch]="true"
            searchPlaceholder="Search companies"
            placeholder="Select companies"
            class="company-selectable full-width"
            confirmButtonText="Submit"
            (onChange)="updateSection($event, section)"
          >
          </ionic-selectable>
          <ion-badge slot="end" color="secondary">{{ companyPermissions[section.permission_uuid]?.length || 0 }}</ion-badge>
        </ion-item>

      </ion-item>
      <ion-list  class="sub_section" *ngIf="section.permissionSubSections">
        <ion-item tappable *ngFor="let sub of section.permissionSubSections">
          <div tabindex="0"></div>

          <ion-label>
            <h5>{{ sub.sub_section_name }}</h5>
            <p>{{ sub.sub_section_slug }}</p>
          </ion-label>

        </ion-item>
      </ion-list>

    </ion-item-sliding>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
    
  </ion-list>

  <ion-infinite-scroll *ngIf="currentPage < pageCount"
    (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="!authService.admin_limited_access">
  <ion-grid>
    <ion-row>
      <!-- <ion-col><ion-button expand="full" (click)="create()">Create</ion-button></ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>
