<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ transfersCandidate && transfersCandidate[0]? "KWD " + transfersCandidate[0].total_amount + " " + transfersCandidate[0].status + " for " + transfersCandidate[0].candidate.candidate_name : "Candidate Transfer Detail" }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <section *ngIf="transfersCandidate">
    <div>
      <button ion-item *ngIf="transfersCandidate.candidate" (click)="loadCandidateDetail(transfersCandidate.candidate)">
        <ion-avatar item-left>
          <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{transfersCandidate.candidate.candidate_personal_photo_thumb}}"> 
        </ion-avatar>
        <ion-label class="label label-ios" *ngIf="transfersCandidate.candidate" >
          <h2>{{transfersCandidate.candidate.candidate_name}}</h2>
          <small>{{ transfersCandidate.store_name }} @ {{ transfersCandidate.company_name }}</small>
        </ion-label>
      </button>

      <div text-center>
        <h1>KWD  {{ transfersCandidate.total_amount | number }}</h1>
        <h2 ion-text [color]="transfersCandidate.paid == '1'?'primary':'danger'">{{transfersCandidate.status}}</h2>

        <button ion-button [disabled] = "transfersCandidate.total_amount == '0'" *ngIf="transfersCandidate.paid == '1'" (click)="markUnPaid(transfersCandidate)">
          Mark Unpaid
        </button>
        <button ion-button *ngIf="transfersCandidate.paid == '0'" (click)="markPaid(transfersCandidate)">
          Mark As Paid
        </button>
      </div>
    </div>
  </section>

</ion-content>