<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content ion-text-left">
    <ion-card class="padding-none ion-text-left">
      <ion-card-header>
        <ion-card-title>Filter by</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
              <!-- Filter by Major -->
              <ion-item>
                <ion-label position="stacked" color="primary">Start Date</ion-label>
                <ion-input type="date" [(ngModel)]="filters.startDate"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12">
              <!-- Filter by Major -->
              <ion-item>
                <ion-label position="stacked" color="primary">End Date</ion-label>
                <ion-input type="date" [(ngModel)]="filters.endDate"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

      <ion-card-header>
        <ion-button (click)="loadAllData();">Submit</ion-button>
        <ion-button (click)="resetFilter();" color="secondary">Reset</ion-button>
      </ion-card-header>

    </ion-card>
  </div>

  <ion-grid *ngIf="statistics">
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.candidates.total_assigned | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Students Employed</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.candidates.total_candidate | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Total Students</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.candidates.invited | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Students Invited</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.candidates.suggested | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Students Suggested</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="business-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.company.activeClient | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Active Employers</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="business-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.company.all | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Total Employers</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="newspaper-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.company.request.all | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Request Created</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-warning">
            <div class="avatar-content">
              <ion-icon name="newspaper-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statistics.company.request.delivered | number:'1.0-0' }}</h2>
          <p class="fs-12" color="light">Request Delivered / Done</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-success">
            <div class="avatar-content">
              <ion-icon name="rocket-outline" class="text-primary"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statisticsFinance.totalPaymentAmountReceived | number:'1.0-0' }} KWD</h2>
          <p class="fs-12" color="light">Total Revenue</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-danger">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-danger"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statisticsFinance.totalBelongingToCandidates | number:'1.0-0' }} KWD</h2>
          <p class="fs-12" color="light">Total Cost of Services</p>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4">
        <ion-card>
          <div class="avatar bg-rgba-danger">
            <div class="avatar-content">
              <ion-icon name="people-outline" class="text-danger"></ion-icon>
            </div>
          </div>
          <h2 class="bold">{{ statisticsFinance.totalProfit | number:'1.0-0' }} KWD</h2>
          <p class="fs-12" color="light">Gross Profit</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
